{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.taoensso/nippy {:mvn/version "3.6.0"}
        org.clj-commons/primitive-math {:mvn/version "1.0.1"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}}

 :aliases
 {;; for help: clojure -T:deps:build help/doc
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}

  ;; versions to test against:
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.3"}}}

  ;; running tests/checks of various kinds:
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      criterium/criterium {:mvn/version "0.4.6"}}}
  :runner {:main-opts ["-m" "cognitect.test-runner"]}
  :jdk11 {}
  :jdk17 {}
  :jdk21 {}
  :jdk25 {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}}}
